<%= semantic_nested_form_for [:admin, @subscription_plan] do |f| %>
  <div class="row">
    <div class="span3of8">
      <%= f.inputs "Information" do %>
        <%= f.input :product, label: false, collection: Product.order('name ASC') %>
        <%= f.input :interval_weeks %>
        <%= f.input :price %>
      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, label: "Submit" %>
        <%= link_to "Cancel", [:admin, :subscription_plans], class: "cancel_button" %>
      <% end %>
    </div>
  </div>
<% end %>