<div class="footer-styling desktop">
	<div class="footer-group">
		<span class="footer-header">
			Resources
		</span><br />
		<span class="footer-link">
			<%= link_to "About", about_url %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Recipes", recipes_url %>
		</span><br />
		<span class="footer-link">
			<%= link_to "FAQ", faq_url %>
		</span><br />
	</div>
	<div class="footer-group">
		<span class="footer-header">
			Get In Touch
		</span><br />
		<span class="footer-link">
			<%= link_to "Facebook", "https://www.facebook.com/idrinksant", target: "_blank" %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Twitter", "https://twitter.com/idrinksant", target: "_blank" %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Instagram", "https://instagram/idrinksant", target: "_blank" %>
		</span><br />
	</div>
</div>

<div class="footer-styling tablet-mobile" style="width: 50%">
	<div class="footer-group" style="margin-bottom: 40px;">
		<span class="footer-header">
			Resources
		</span><br />
		<span class="footer-link">
			<%= link_to "About", about_url %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Recipes", recipes_url %>
		</span><br />
		<span class="footer-link">
			<%= link_to "FAQ", faq_url %>
		</span><br />
	</div>
	<div class="footer-group">
		<span class="footer-header">
			Get In Touch
		</span><br />
		<span class="footer-link">
			<%= link_to "Facebook", "https://www.facebook.com/idrinksant", target: "_blank" %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Twitter", "https://twitter.com/idrinksant", target: "_blank" %>
		</span><br />
		<span class="footer-link">
			<%= link_to "Instagram", "https://instagram/idrinksant", target: "_blank" %>
		</span><br />
	</div>
</div>