<% current_uri = request.env['PATH_INFO'] %>
<% checkout_uris = ['/checkout/address', '/checkout/billing', '/checkout/review', '/checkout/billing'] %>

<nav class="navbar navbar-default" role="navigation" style="background-color: white;">
  
  <% if !checkout_uris.include? current_uri %>

	  <div class="container-fluid sant-header desktop">
		
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Shop Sant", "https://www.kickstarter.com/projects/sant-superfruitdrink/sant-dried-superfruit-infuses-into-a-fresh-beverag", target: "_blank" %></li>
				<li><%= link_to "Recipes", recipes_path %></li>
			</ul>
		
			<div>
				<%= link_to image_tag("sant-logo.png", class: 'header-logo'), root_url %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Kickstarter", "https://www.kickstarter.com/projects/sant-superfruitdrink/sant-dried-superfruit-infuses-into-a-fresh-beverag", target: "_blank" %></li>
				<li><%= link_to "About", about_url %></li>
			</ul>
	  </div>
	  
	  <div class="container-fluid sant-header-mobile tablet-mobile">
	  
		<% if !checkout_uris.include? current_uri %>
	  
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header" style="height: 63px;">
			  <button type="button" class="navbar-toggle collapsed sant-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			</div>
		
			<div>
				<%= link_to image_tag("sant-logo.png", class: 'header-logo-mobile'), root_url %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-align: center;">
			  <ul class="nav navbar-nav">
				  
			  </ul>
			  <ul class="nav navbar-nav navbar-right" style="background-color: white;">
				<li><%= link_to "About", about_url %></li>
				<% if current_uri != "/products" %>
					<li><%= link_to "Kickstarter", "https://www.kickstarter.com/projects/sant-superfruitdrink/sant-dried-superfruit-infuses-into-a-fresh-beverag", target: "_blank" %></li>
				<% end %>
				<li><%= link_to "Recipes", recipes_path %></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		
		<% else %>
	
		<% end %>
	
	  </div><!-- /.container-fluid -->

  <% else %>

	  <div class="container-fluid sant-header desktop">
		
			<div>
				<%= link_to image_tag("sant-logo.png", style: "display: inline-block; position: absolute; margin: 7px 0 0 182px;"), root_url %>
			</div>
			
      </div>

  <% end %>
	
</nav>