<%= form_for(@support_request) do |f| %>
  <% if @support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_request.errors.count, "error") %> prohibited this support_request from being saved:</h2>

      <ul>
      <% @support_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, style: "width: 300px;" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email, "Email (required)" %><br>
    <%= f.text_field :email, style: "width: 300px;" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :message, "Message (required)" %><br>
    <%= f.text_area :message, style: "height: 200px; width: 300px;" %>
  </div>
  <div class="actions" style="margin: 40px auto; width: 71px;">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
