<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @support_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @support_request.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @support_request.message %>
</p>

<%= link_to 'Edit', edit_support_request_path(@support_request) %> |
<%= link_to 'Back', support_requests_path %>
