<div class="form-view" style="margin-top: 50px; width: 450px;">
	<div style="">
		Name: <%= @address.first_name.capitalize %> <%= @address.last_name.capitalize %>
	</div>
	<div style="">
		Address:<br /><br /> 
		<%= @address.line_1 %> <%= @address.line_2 %><br />
		<%= @address.city %>, <%= @address.state %> <%= @address.zip %>
	</div>
</div>
