<div class="form-view" style="margin-top: 50px; width: 450px;">
	<div class='recipes-title'>
		Current and Past Orders
	</div>
	<table style='margin-top: 20px;'>
	  <thead>
	    <tr>
	      <th style="height: 40px; width: 150px;">Order number</th>
	      <th style="height: 40px; width: 150px;">Date</th>
	      <th style="height: 40px; width: 150px;">Total</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @orders.each do |order| %>
	      <tr>
	        <td><%= order.order_number %></td>
	        <td><%= order.created_at.to_date %></td>
	        <td><%= number_to_currency(order.subtotal, precision: 2) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<div class='recipes-title'>
		Current Subscriptions
	</div>
	<table style='margin-top: 20px;'>
	  <thead>
	    <tr>
	      <th style="height: 40px; width: 150px;">Product</th>
	      <th style="height: 40px; width: 150px;">Schedule</th>
	      <th style="height: 40px; width: 150px;">Price</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @subscriptions.each do |subscription| %>
	      <tr>
	        <td><%= subscription.subscription_plan.product.name %></td>
	        <td>every <%= subscription.subscription_plan.interval_weeks %> weeks</td>
	        <td><%= number_to_currency(subscription.subscription_plan.price, precision: 2) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>