<head>
  <% content_for :title, "About Sant" %>  
</head>

<div style="margin: 50px auto; width: 90%;">
	<div class='about-title'>
		OUR MISSION & VALUES
	</div>
	<div class='about-subtitle'>
		Sant stands for balance
	</div>
	<div class='desktop' style="float: left; margin-right: 10%; width: 36%;">
		Sant is short for Santulan, which means balance.  We don’t just value balance because we like standing on our heads during yoga.  Balance is at the impetus for health, the environment, fortitude, peace, love, gratitude, and compassion.  We want more of all that good stuff in the world, so we create experiences that cultivate balance in minds, bodies, the environment and communities.
	</div>
	<div class='tablet-mobile' style="float: left; margin: 0 10px 20px 0;">
		Sant is short for Santulan, which means balance.  We don’t just value balance because we like standing on our heads during yoga.  Balance is at the impetus for health, the environment, fortitude, peace, love, gratitude, and compassion.  We want more of all that good stuff in the world, so we create experiences that cultivate balance in minds, bodies, the environment and communities.
	</div>
	<%= image_tag('sant-balance.jpg', height: 200, class: 'desktop') %>
	<div class='about-pic-wrap'>
		<%= image_tag('sant-balance.jpg', height: 320, class: 'tablet-mobile about-pic', style: 'margin: 0 auto;') %>
	</div>
	<br /><br />
	<div class='about-subtitle'>
		We work directly with farmers and women’s self-help groups in India
	</div>
	<div>
		The rural communities we work with are full of smiles and spirit, but are not full of economic opportunities.  Many families struggle to meet basic needs, since they can’t earn enough income farming. 
	<br /><br />  
	</div>
	<div class='about-pic-wrap'>
		<%= image_tag('sant-farmer.jpg', class: 'about-pic') %>
		<%= image_tag('sant-family.jpg', class: 'about-pic') %>
	</div>
	<br /><br />
	<div>
		While there’s an abundance of fruit in the villages, there hasn’t been the demand to command a good price to harvest the fruit - until now.  We’re making you and tons of people aware of the fruit so you can fall in love with it and order lots of it.  You get a super healthy beverage and rural communities in India get vital economic opportunities.  That’s a Win-Win.  And it feels good.
	</div>
	<div class='about-subtitle'>
		We promote re-useable bottles and conscious consumption
	</div>
	<div class='about-pic-wrap'>
		<%= image_tag('sant-fun-2.jpg', class: 'about-pic') %>
		<%= image_tag('sant-drinking.jpg', class: 'about-pic') %>
	</div>
	<br /><br />
	<div>
		We’re anti-earth killing, so we consider the environment in every decision we make.  One big decision was to package a beverage without a bottle.   Ready-to-drink beverages in individual disposable bottles are the trend, but we couldn’t do it, since disposable bottles aren’t healthy for you or your environment.  
		<br /><br />
		We package just the fruit to eliminate waste from manufacturing, transporting and disposing heavy bottled beverages.   We have faith in your ability to pop pieces of fruit in a re-useable vessel – be it a re-useable water bottle, Mason jar, the mug with a picture of your family on it, or the glass you save for special occasions.  We’ll all feel good for taking care of the earth and ourselves.  (And we’ll look a lot cooler too.  Disposable bottles are trashy.  They are literally trash.) 
		<br /><br />
		Disposable bottles are a problem.   You’re a problem solver.  And that feels good. 
	</div>
	<div class='about-title'>
		OUR STORY
	</div>
	<div>
		Sant’s journey includes a young woman with a fervor for social entrepreneurship, meditation, magic pills, veganism, a passion for sustainability, government agencies, mafias (we can’t elaborate on the mafia part though) and farmers and women self-help groups in India.  The whole story could spur a Hollywood (or Bollywood movie).
	</div>
	<br /><br />
	<div style="text-align: center; width: 100%;">
		<%= image_tag('kim-lapaglia.jpg', class: 'desktop', style: 'margin: 0 auto; height: 420px;') %>
		<%= image_tag('kim-lapaglia.jpg', class: 'tablet-mobile', style: 'margin: 0 auto; width: 90%;') %>
	</div>
	<br /><br />
	<div style='font-style: italic; margin: 0 auto; width: 80%;'>
		Four years ago, I quit corporate life to start a social enterprise.  I took the leap and quickly fell on my face.  And it hurt.  At that time, nothing could have prepared me for the transition.  There was a loss of identity from leaving an eminent role, combined with repeated failures and insecurities.  I was lost and damaged.  To learn more about social enterprises and more about myself, I moved to India.  
		<br /><br />
		Life in India challenged my beliefs, particularly around health and the environment.  I started listening to my body, stopped watching calories, kicked a coffee habit, meditated daily, eliminated unnecessary consumption, replaced feelings of anger and guilt with love, compassion and gratitude and researched becoming Vegan.   The vegan component led me to a little known super fruit.  
		<br /><br />
		The antioxidants from the fruit were being extracted into a supplement, which was touted as a miracle pill.   While my belief in miracles had grown, I no longer believed in miracle pills.  However, the benefits of the actual fruit were compelling.  Agreeing with Hypocrites  “let food by thy medicine and medicine be thy food”, I went on a hunt to find the actual fruit. 
		<br /><br />
		Success.  
		<br /><br />
		Since I wasn’t much of a cook, I used the fruit to make beverages and drank them daily.  I shared the fruit infusions; other people loved them too. Then it hit me, I could launch a social enterprise by providing the fruit in its natural state, avoiding ready-to-drink bottled beverages, and by working directly with farmers in rural India.  So that’s what I did.  
		<br /><br />
		The journey hasn’t been easy.  Quitting corporate life was tough.  And India….well, I cried for about the first 8 months.  The challenges persist, yet I continue with Sant because I can’t imagine doing anything other than promoting balance, health, the environment, love, gratitude, and compassion.  They’re the things I value.  And it feels good when your actions match your values.
		<br /><br />
		Hugs,
		<br />
		Kim 
	</div>
</div>