<div style="margin: 60px auto; text-align: center; width: 90%;">
	<a class="jumper" href="#coconut-milk"><%= image_tag("thumb coconut milk.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#coconut-water"><%= image_tag("thumb coconut water.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#cucumber-lemon-basil"><%= image_tag("thumb cucumber lemon basil.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#ginger-soda"><%= image_tag("thumb ginger soda.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#grapefruit-juice"><%= image_tag("thumb grapefruit juice.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#green-smoothie"><%= image_tag("thumb green smoothie.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#green-tea-mint"><%= image_tag("thumb green tea mint.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#horchata"><%= image_tag("thumb horchata.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#italian-soda"><%= image_tag("thumb italian soda.png", class: "recipe-thumb") %></a>
	<a class="jumper" href="#santgria"><%= image_tag("thumb santgria.png", class: "recipe-thumb") %></a>
</div>
<div id="coconut-milk" class="recipe-card">
	<%= image_tag("coconut milk.png", style: "width: 100%;") %>
</div>
<div id="coconut-water" class="recipe-card">
	<%= image_tag("coconut water.png", style: "width: 100%;") %>
</div>
<div id="cucumber-lemon-basil" class="recipe-card">
	<%= image_tag("cucumber lemon basil.png", style: "width: 100%;") %>
</div>
<div id="ginger-soda" class="recipe-card">
	<%= image_tag("ginger soda.png", style: "width: 100%;") %>
</div>
<div id="grapefruit-juice" class="recipe-card">
	<%= image_tag("grapefruit juice.png", style: "width: 100%;") %>
</div>
<div id="green-smoothie" class="recipe-card">
	<%= image_tag("green smoothie.png", style: "width: 100%;") %>
</div>
<div id="green-tea-mint" class="recipe-card">
	<%= image_tag("green tea mint.png", style: "width: 100%;") %>
</div>
<div id="horchata" class="recipe-card">
	<%= image_tag("horchata.png", style: "width: 100%;") %>
</div>
<div id="italian-soda" class="recipe-card">
	<%= image_tag("italian soda.png", style: "width: 100%;") %>
</div>
<div id="santgria" class="recipe-card">
	<%= image_tag("santgria.png", style: "width: 100%;") %>
</div>

<div class="up-arrow" style="display: none; position: fixed; bottom: 20px; right: 40px;">
	<a href="#back-to-top"><%= image_tag("up-arrow.png", style: "opacity: 0.6; width: 50px;") %></a>
</div>

<script>
	$(document).ready(function() {
	    $(".jumper").on("click", function( e ) {

	        e.preventDefault();

	        $("body, html").animate({ 
	            scrollTop: $( $(this).attr('href') ).offset().top 
	        }, 600);

	    });
	});
	
	$("a[href='#back-to-top']").click(function() {
	  $("html, body").animate({ scrollTop: 0 }, "slow");
	  return false;
	});
	
    $(window).scroll(function () {
      $(".up-arrow").css("display", "block");
    });
</script>