<%= render 'shared/progress_bar' %>

<div class="form-view" style='width: 300px;'>
	
	<% @cart.cart_selections.each do |selection| %>
		<% if selection.product_id.present? %>
			<span style='float: left;'><%= selection.product.name %> (<%= selection.quantity %>)</span>
			<span style='float: right'><%= number_to_currency(selection.product.price*selection.quantity, precision: 2) %></span>
		<% else %>
			<span style='float: left;'><%= selection.subscription_plan.product.name %></span><br /><span style='font-size: 12px;'>(every <%= selection.subscription_plan.interval_weeks %> weeks)</span>
			<span style='float: right'><%= number_to_currency(selection.subscription_plan.price, precision: 2) %></span>
			<br />
		<% end %>
		<br />
		<br />
	<% end %>
	<br />
	<div style='width: 100%;'>
		<span style='float: left;'>Total: </span>
		<span style='float: right;'><%= number_to_currency(@cart.subtotal, precision: 2) %></span>
	</div>
	<br />

	<%= simple_form_for(@order, url: create_order_path) do |f| %>
	  <% if @order.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

	      <ul>
	      <% @order.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
	  <%= f.hidden_field :cart_id, value: @cart.id %>
	  <%= f.hidden_field :payment_method_id, value: @payment_method.id %>
	  	  
	  <br />
	  <br />
	  <br />
	  <div class="actions">
	    <%= f.submit "Place Order", class: "btn btn-primary", style: 'margin-left: 48px;' %>
	  </div>
	<% end %>
</div>