 <!--Begin Slider -->
 <div class="container-flex ">
     <div class="gallery autoplay items-4">
         <div id="item-1" class="control-operator"></div>
         <div id="item-2" class="control-operator"></div>
         <div id="item-3" class="control-operator"></div>
         <div id="item-4" class="control-operator"></div>
         <!-- Slide 1 -->
         <figure class="item ">
             <div class="slide-1">
                 <div class="container">
                     <div class="row-no-margin">
                         <div class="col-6"></div>
                         <div class="col-6">
                             <div class="vc-slider-caption caption">
                                 <div>
                                     <p>The
                                         <br /> <span>superfruit</span>
                                         <br /> that infuses into a fresh
                                         <br /><span>beverage</span>.</p>
                                     <p>
                                         <%= link_to "Order Me", spree_path %>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </figure>
         <!-- Slide 2 -->
         <figure class="item">
             <div class="slide-2">
                 <div class="container">
                     <div class="row-no-margin">
                         <div class="col-12">
                             <div class="caption">
                                 <p><span>Garcinia Indica</span>
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </figure>
         <!-- Slide 3 -->
         <figure class="item">
             <div class="slide-3">
                 <div class="container">
                     <div class="row-no-margin">
                         <div class="col-12">
                             <div class="bottom caption">
                                 <p><span>Infuse It</span>
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </figure>
         <!-- Slide 4 -->
         <figure class="item">
             <div class="slide-4">
                 <div class="container">
                     <div class="row-no-margin">
                         <div class="col-6">
                         </div>
                         <div class="col-6">
                             <div class="vc-slider-caption caption">
                                 <div>
                                     <p class="caption-boxed"><span>Endless Possibilities</span>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </figure>

         <!-- Bullets -->
         <div class="controls">
             <a href="#item-1" class="control-button">&#8226;</a>
             <a href="#item-2" class="control-button">&#8226;</a>
             <a href="#item-3" class="control-button">&#8226;</a>
             <a href="#item-4" class="control-button">&#8226;</a>
         </div>
     </div>
 </div>

 <!-- Begin Simple, Super Healthy, Sustainable, Sant Menu -->
    <div class="container-centered">
        <div class="row second-menu">
            <div class="col-3 second-menu-item">
                <a href="#simple" class="smoothScroll icon "><span class="icon-simple"></span>Simple
                    </a>
            </div>
            <div class="col-3 second-menu-item">
                <a href="#super-healthy" class="smoothScroll icon"><span class="icon-super-healthy"></span>Super Healthy
                    </a>
            </div>
            <div class="col-3 second-menu-item">
                <a href="#sustainable" class="smoothScroll icon"><span class="icon-sustainable"></span>Sustainable
                    </a>
            </div>
            <div class="col-3 second-menu-item">
                <a href="#sant" class="smoothScroll icon"><span class="icon-sant"></span>Sant
                    </a>
            </div>
        </div>
    </div>

    <!-- begin Simple section -->
    <div class="container section">
        <a class="anchor" id="simple"></a>
        <div class="row">
            <div class="col-5">
                <h1>Simple</h1>
                <h3>One ingredient that you add to water</h3>
                <p>Healthy really can be this easy</p>
                <div class="illustration">
                  <%= image_tag "sant-formula.png", alt: "Garcinia Indica + Water = Refreshign Fruit Infusion" %>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <%= image_tag "circle-simple-1.png", class: "circle-img" %>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-3">
              <%= image_tag "circle-simple-2.png", class: "circle-img" %>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="slideshow">
                    <div>
                      <%= image_tag "circle-simple-3-gallery-1.png" %>
                    </div>
                    <div>
                      <%= image_tag "circle-simple-3-gallery-2.png" %>
                    </div>
                    <div>
                      <%= image_tag "circle-simple-3-gallery-3.png" %>
                    </div>
                    <div>
                      <%= image_tag "circle-simple-3-gallery-4.png" %>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h3>Customize it</h3>
                <p>Make a light pink infusion for a subtle rose taste, a dark red infusion for a cranberry-like flavor or a sweet option by adding honey or brown sugar.</p>

                <p>When you&rsquo;re re feeling adventurous, use your infusion for hot teas, organic sodas, smoothies, juices, or cocktails. Sant-gria is a party favorite. </p>
                <div class="illustration">
                  <%= image_tag "sant-styles.png", alt: "Customize your beverage" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">&nbsp;
            </div>
            <div class="col-4">
              <%= image_tag "circle-simple-4.png", class: "circle-img" %>
            </div>
            <div class="col-3">&nbsp;</div>
        </div>
    </div>


    <!-- begin Super Healthy section -->
    <div class="container section">
        <a class="anchor" id="super-healthy"></a>
        <div class="row">
            <div class="col-5">
                <h1>Super Healthy</h1>
                <h3><span class="number">5</span>X more antioxidants than Kale  </h3>
                <p>These super powerful antioxidants &mdash; Garcinol, HCA and Xanthones &mdash; help restore balance to the mind and body.</p>
                <ul class="fa-ul benefits">
                    <li><i class="fa-li fa fa-plus"></i>Promotes digestion</li>
                    <li><i class="fa-li fa fa-plus"></i>Fights bacteria</li>
                    <li><i class="fa-li fa fa-plus"></i>Prevents infections and cell deterioration</li>
                    <li><i class="fa-li fa fa-plus"></i>Regulates sleep and mood</li>
                    <li><i class="fa-li fa fa-plus"></i>Manages weight and increases muscle tone</li>
                    <li><i class="fa-li fa fa-plus"></i>Neutralizes PH levels</li>
                    <li class="plus"><i class="fa-li fa fa-plus"></i>Decreases inflamation</li>
                    <li><i class="fa-li fa fa-plus"></i>Cleanses skin</li>
                    <li><i class="fa-li fa fa-plus"></i>Strengthens the heart and stabilizes cholesterol</li>
                </ul>
                <p>Garcinia indica has been used in Ayurveda for centuries to prevent and treat illnesses.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <%= image_tag "circle-super-healthy-1.png", class: "circle-img"%>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <%= image_tag "circle-super-healthy-2.png", class: "circle-img"%>
            </div>
            <div class="col-2">&nbsp;</div>
            <div class="col-5">
                <h3>All Natural.</h3>
                <p> Tons of good stuff; no bad stuff</p>
                <ul class="benefits fa-ul">
                    <li><i class="fa-li fa fa-plus"></i>Organically grown and naturally sun-dried. No preservatives</li>
                    <li><i class="fa-li fa fa-plus"></i>Vitamins B &amp; C, potassium, manganese &amp; magnesium</li>
                    <li><i class="fa-li fa fa-plus"></i>Only 5 calories and 3 grams of sugar</li>
                    <li><i class="fa-li fa fa-plus"></i>No added dyes or flavors. No additives, period.</li>
                </ul>
                <div class="healthy-icons">
                    <div>
                      <%= image_tag "organic.png", alt: "organic" %>
                    </div>
                    <div>
                      <%= image_tag "non-gmo.png", alt: "non-gmo" %>
                    </div>
                    <div>
                      <%= image_tag "vegan.png", alt: "vegan" %>
                    </div>
                    <div>
                      <%= image_tag "gluten-free.png", alt: "gluten free" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">&nbsp;
            </div>
            <div class="col-4">
              <%= image_tag "circle-super-healthy-3.png", class: "circle-img", alt: "Runner tying shoes with Sant bottle" %>
            </div>
            <div class="col-3">&nbsp;</div>
        </div>
    </div>

    <!-- Begin Sustainable Section -->
    <div class="container section-2">
        <a class="anchor" id="sustainable"></a>
        <div class="row">
            <div class="col-5">
                <h1>Sustainable</h1>
                <h3>Working directly with farmers and women&rsquo;s empowerment groups in India</h3>
                <p>60% of the Garcinia indica crop once went to waste each year, yet the farming families in these rural communities weren&rsquo;t able to make a sufficient living.</p>
                <p> Not anymore. Now, working with Sant, families are able to harvest Garcinia indica. You get a super healthy beverage and communities get vital livelihood opportunities. </p>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <%= image_tag "circle-sustainable-1.png", class: "circle-img", alt: "Happy Farmer" %>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <%= image_tag "circle-sustainable-2.png", class: "circle-img", alt: "Reusable Bottles" %>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h3>Drinking from re-useable bottles</h3>
                <p>Disposable bottles are a problem. And you&rsquo;re a problem solver. So with Sant, you get to enjoy beverages from your re-useable glass or bottle. It&rsquo;s healthier for you and your environment. </p>
                <div class="illustration">
                  <%= image_tag "sustainable-bottles.png", alt: "1 pouch + Your re-usable bottle or glass = Up to 100 disposable bottles" %>
                </div>
            </div>
        </div>
    </div>


    <!-- Begin Sant section -->
    <div class="container-flex balance">
        <div class="container">
            <a class="anchor" id="sant"></a>
            <div class="row">
                <div class="row-no-margin">
                    <div class="col-5">
                    </div>
                    <div class="col-2">&nbsp;</div>
                    <div class="col-5">
                        <div class="vc-balance">
                            <div>
                                <h1>Sant</h1>
                                <h3>Balance in minds bodies communities and the environment</h3>
                                <p>Sant is short for Santulan, which means balance. We didn&rsquo;t pick balance just because we like standing on our heads. The name fits since we create experiences that promote balance in minds, bodies, communities, and the environment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>