<%= semantic_nested_form_for [:admin, @product], :html => {:multipart => true} do |f| %>
  <div class="row">
    <div class="span3of8">
      <%= f.inputs "Information" do %>
        <%= f.input :name %>
        <%= f.input :price %>
      <% end %>

      <%= f.inputs "Images" do %>
		<%= f.input :image, label: "Default" %>
	  	<% if f.object.image? %>
          <li class="input"><%= image_tag f.object.image_url(:thumb), style: "margin-left: 20%" %></li>
		<% end %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, label: "Submit" %>
        <%= link_to "Cancel", [:admin, :products], class: "cancel_button" %>
      <% end %>
    </div>
  </div>
<% end %>