<div style="margin: 120px auto 0 auto; text-align: center; width: 960px;">
    <% @products.each do |product| %>
	    <div style="display: inline-block; width: 300px;">
			<%= image_tag(product.image_url(:thumb), style: "display: inline-block;") %>
			<span style="display: inline-block; width: 300px;">
				<span style="color: #555555; font-size: 14px; display: inline-block; line-height: 36px; margin: 10px 0 5px 0; width: 300px;"><%= product.name %></span>
		    	<span style="color: #555555; font-size: 14px; display: inline-block; width: 300px;"><%= number_to_currency(product.price, precision: 2) %></span>
				<br />
				<br />
				<% if @cart.present? && CartSelection.where(product_id: product.id).where(cart_id: @cart.id).present? %>
					<% selection = CartSelection.where(product_id: product.id).where(cart_id: @cart.id).first %>
					<div style="clear: both;">
						<span style="float: left; margin: 3px 0 10px 0;">quantity in cart: <%= selection.quantity %></span>
					</div>
					<div style="clear: both; margin-top: 5px;">
						<%= link_to '+', {controller: 'carts', action: 'increase_quantity', cart_selection_id: selection.id, page: 'product'}, {method: :post, class: 'btn btn-primary btn-add'} %><%= link_to '-', {controller: 'carts', action: 'decrease_quantity', cart_selection_id: selection.id, page: 'product'}, {method: :post, class: 'btn btn-primary btn-subtract'} %>
					</div>
				<% else %>
					<%= button_to 'Add to cart', {:action => 'add_product_to_cart', product_id: product.id}, {class: 'btn btn-primary'} %>
				<% end %>
			</span>
		</div>
    <% end %>
</div>