<!Doctype html>
<html>

<head>
    <title>Sant - The Infusable Superfruit</title>
    <meta name="description" content="The dried superfruit that transforms into a fresh beverage.">
    <meta name="keywords" content="Sant, idrinksant, superfruit beverage, superfruit recipe, superfood, yoga, superfruit tea">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>
    <a id="top"></a>
    
    <%= render "layouts/navbar" %>

    <%= yield %>

    <%= render "layouts/footer" %>

    <!--back to top -->
    <a href="#top" class="cd-top smoothScroll">Top</a>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MKRP2D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MKRP2D');</script>
    <!-- End Google Tag Manager -->
</body>

</html>